@import 'config';

/*Foto di sfondo presa da Vecteezy"*/
body {
    background-image: url("../img/sfondo_portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    overflow: auto; 
    margin: 0;
    padding-bottom: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: $primary-color;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .nav-link {
            display: flex;
            justify-content: space-around; 
            align-items: center;
            width: 100%;
            li {
                list-style: none;
                padding: 0 10px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.box {
    flex-grow: 1;
    background-color: #fff;
    height: auto;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
    padding: 50px 50px 0 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    aside {
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 300px;
        height: 100%;
        padding: 20px;
        margin-bottom: 20px;
        img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;            
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;      
        padding-top: 20px;
        h1 {
            margin-top: 0;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
            padding: 20px;
            font-size: $font-size-small;
        }
    }
}

h1 {
    display: block;
    margin: 10px 0;
    font-size: $font-size-large;                
}
h2, p {
    display: block;
    margin: 10px 0;
    font-size: $font-size-small;
}
h3 {
    display: block;
    margin: 10px 0;
    font-size: $font-size-medium;
}

footer {
    position: relative;
    background-color: $primary-color;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-top: 20px;
    bottom: 0;
    margin-top: auto;
    i {
        color: $secondary-color;
    }
}

@media screen and (max-width: 768px) {
    .box {
        flex-direction: column; 
        padding: 20px; 
        margin-left: 0; 
    }
    .box aside {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .box .main {
        width: 100%; 
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
        font-size: 14px; 
    }
}