@import 'config';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
}

/*Foto di sfondo presa da Vecteezy"*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: $primary-color;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

body {
    background-image: url("../img/sfondo_portfolio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-top: 60px;
}

footer {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    bottom: 0;
    padding-top: 20px;
    margin-top: auto;
    background-color: $primary-color;
    .social-icons {
        color: $secondary-color;
    }
    i {
        color: $secondary-color;
    }
}

.name {
    font-size: $font-size-large;
    color: $secondary-color;
    font-family: 'WindSong', cursive;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    ul {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
            padding: 10px;
            margin-left: 10px;
        }
        li:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
} 

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    div {
        width: 35px;
        height: 3px;
        background-color: $secondary-color;
        margin: 6px 0;
        transition: 0.04s;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        background-color: #b3ddffbe;
        transition: all 0.3s ease-in-out;
        top: 50px;
        left: 0;
        height: auto;
        padding: 10px 0;
        width: 100%;
        z-index: 999;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $secondary-color;
                font-size: $font-size-small;
                height: auto;
            }
        }
    }
}
    
#hamburger-icon.open .mobile-menu {
    display: flex;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        font-size: $font-size-large;
    }    
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        font-size: $font-size-medium
    }
    .horizontal-line {
        @include full-width;
        height: 2px;
        background-color: $primary-color;
        margin: 20px 0;
    }   
    .pattern {
        position: absolute;
        bottom: calc(50px + 20px);
        display: flex;
        width: 100%;
        height: 200px;
        background-image: url(../img/pattern_fiori_lineart.png);
    } 
}

.su-di-me {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;

    h1 {
        padding-top: 0;
        margin-top: 0;
        color: $secondary-color;
        font-size: $font-size-large;
        font-family: 'WindSong', cursive;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .bio1-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 40px;
        width: 100%;
        .bio1 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            height: auto;
            margin: 20px 0;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.37);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10%;
            color: $secondary-color;
            font-size: $font-size-small;
        }
        .img {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin: 0;
        }
    }
    .bio2-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        .bio2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 400px;
            height: 220px;
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.37);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10%;
            color: $secondary-color;
            font-size: $font-size-small;
            h1 {
                display: flex;
                justify-content: center;
                align-items: center ;
            }
        }
        .bio3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 700px;
            height: 350px;
            margin: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.37);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10%;
            color: $secondary-color;
            font-size: $font-size-small;
        }
    }
    .pattern {
        display: flex;
        width: 100%;
        height: 200px;
        background-image: url(../img/pattern_fiori_lineart.png);
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    min-height: calc(100vh - 60px);
    width: 90%;
    
    p {
       padding-top: 20px;
       margin: auto;
       text-align: center;
       font-size: $font-size-large;
       color: $secondary-color; 
    }

    .pattern {
        display: flex;
        width: 100%;
        height: 200px;
        background-image: url(../img/pattern_fiori_lineart.png);
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 100%;

        .project-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            padding: 20px;

            h1 {
                background-color: #b3ddff88;
                color: $secondary-color;
                font-size: $font-size-medium;
                border-radius: 50px;
                width: 100%;
                max-width: 500px;

            }

            img {
                width: 100%;
                max-width: 700px;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
                margin-bottom: 32px;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

}

.contattami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    text-align: center;
    min-height: 100vh;
    position: relative;
    .img-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 0 auto;
        h1 {
            justify-content: center;
            align-items: center;
            font-size: $font-size-large;
            color: $secondary-color;
        }
        img {
            max-width: 60%;
            height: auto;
            margin-bottom: 10px;
        }
    }
    .pattern {
        display: flex;
        width: 100%;
        height: 200px;
        background-image: url(../img/pattern_fiori_lineart.png);
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.37);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        label {
            display: block;
            margin-bottom: 5px;
            font-size: $font-size-medium;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: $font-size-medium;
        }
        textarea {
            resize: vertical;
            min-height: 100px;
        }
        input[type="submit"] {
            width: auto;
            background-color: $primary-color;
            color: $secondary-color;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: $font-size-small;
            border-radius: 5px;
        }
        input[type="submit"]:hover {
            background-color: #fa5204;
        }
    }
    .hidden-link {
        position: absolute;
        width: 1px;
        height: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        white-space: nowrap;
    }
}



/*hide section*/

.home {
    display: none;
}

.home:target {
    display: block;
}

.su-di-me {
    display: none;
}

.su-di-me:target {
    display: flex;
    
}
.portfolio {
    display: none;
}

.portfolio:target {
    display: block;
    flex-direction: column;
}
.contattami {
    display: none;
}

.contattami:target {
    display: block;
    flex-direction: column;
}


@media only screen and (max-width: 1060px) {

    .portfolio {
        
        .project {
        
            .project-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                padding: 20px;    
        
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .su-di-me {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;        
        overflow: visible;
        width: 100%;
        min-height: auto;
        .bio1-img, .bio2-3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
        }
        .bio1 {
            width: 100%;
            margin-top: 40px;
        }
        .img {
            padding-bottom: 5px;
        }
        .bio2, .bio3 {
            width: 90%;
        }
        .bio3 {
            height: auto;
        }
    }

    header nav ul {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }    
    
    .project-item {
        gap: 5px; 
        
        h1 {
            font-size: $font-size-small;
            max-width: 95%;
        }

        img {
            max-width: 95%; 
        }
    }

}